influxdb==5.3.2
SQLAlchemy==2.0.30
mysql-connector-python==8.4.0
prefect==2.19.3
prefect-aws==0.4.17
prefect-docker==0.5.2
prefect-github==0.2.5
psycopg2-binary==2.9.9
s3fs==2024.5.0
requests==2.31.0
